body {
font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
/* default is 1rem or 16px */
font-size: 20px;
font-weight: 400;
line-height: 1.5;
}
 
.nav-item{
	padding-right: 12px;
	padding-left: 12px;
}
.flag{
	max-height: 20px;
	max-width: 20px;
	margin-top: 10px;
}
.nav-link.active{
	background-color: lightgrey !important;
}

.reserve-container{
	position: relative;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reserve{
	opacity: 0.4;
	max-height: 750px;
}

.carousel-caption{
	top: 40%;
}

.img-slider{
	min-height: 320px;
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
}

.map{
	height: 320px;
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){
 
 .only-mobile{
  visibility:visible;
  }
}

.footer{
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
}
.social-icon{
	font-size:28; 
}

footer{
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
}

.post-type-archive-testimonials h1 {
    color: #21486f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-top:35px;
    margin-bottom:35px;
}
.post-type-archive-testimonials .testimonial-wrap {
    clear:both;
    min-height: 120px;
    background:#F7F7F7;
    margin-bottom:25px;
    padding:25px 35px 30px 70px;
    margin-left:60px;
    border-radius:6px;
    border:1px solid #E7E7E7;
}
.post-type-archive-testimonials .client-photo{
    float:left;
    width:100px;
    height:100px;
    border:6px solid #fff;
    border-radius:50%;
    box-shadow:1px 1px 5px #A8A7A7;
    position: absolute;
    left: 23px;
}
.post-type-archive-testimonials h2.post-title,
.post-type-archive-testimonials .client_name{
    color:#579241;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    margin-top:0;
}
.post-type-archive-testimonials .company {
    font-family:verdana;
    font-size:11px;
    color:#000;
}
.post-type-archive-testimonials .post-excerpt {
    margin-bottom:0;
}
.post-type-archive-testimonials .testimonial-wrap .post-excerpt p {
    color:#838383;
}


/* Increase all font sizes on mobile */
@media (max-width: 767px) { 
 
body {
/* default is 1rem or 16px */
font-size: 25px;
}
 
}